@media  screen and (max-width: 1340px) {
    .search>input{
        width: 300px;
    }
    .card{
        width: 300px;
    }
}
@media  screen and (max-width :1132px) {
    .search>input{
        width: 200px;
        font-size: 1.2rem;
        margin-left: 70px;
    }
}
@media  screen and (max-width :1073px) {
    .card{
        width: 400px;
    }
}
@media  screen and (max-width :950px) {
    .card{
        width: 300px;
    }
}
@media  screen and (max-width :1010px) {
    .add-video {
        margin-left: 10px;
    }
    
}
@media  screen and (max-width :820px) {
    .search>input {
       display: none;
    }
    .search>i {
        border: none;
        margin-left: 20px;
    }
    .card{
        width: 250px;
    }
}
@media  screen and (max-width :650px) {
   
    .card{
        width: 400px;
    }
}
@media  screen and (max-width :520px) {
  .sidebar{
    display: none;
  }
  .logo>img {
    width: 100px;
    margin-right: -10px;
}
  .menu1{
    display: inline;
  }
  .search>i {
    padding-left: 0px;
    margin-right: -20px;
  }
  .mic>i{
    font-size: 1rem;
    margin-right: -10px;
  }
  .navbar{
    padding-left: 30px;
    justify-content: space-evenly;
  }
  .scroll-txt {
    margin-left: 10px;
  }
  .scroll-txt>p {
    font-size: .7rem;
    margin: 5px;
  }  
  .btn-left {
    font-size: 1rem;
    padding: 10px;
  }
  .btn-right {
    font-size: 1rem;
    padding: 10px;
    left: 0px;
  }
  .cards {
    padding-left: 10px;
    padding-top: 120px;
  }
  .card{
    width: 500px;
  }
  .account>img {
    margin-left: 0px;
    margin-right: 50px;
}
}